sudo: false
language: scala
scala:
   - 2.11.8
jdk:
   - oraclejdk8

script:
  - sbt ++$TRAVIS_SCALA_VERSION clean coverage test coverageReport tut scalastyle
  - sbt ++$TRAVIS_SCALA_VERSION coverageAggregate

cache:
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.sbt/boot/

before_cache:
  - find $HOME/.ivy2 -name "ivydata-*.properties" -delete
  - find $HOME/.sbt -name "*.lock" -delete


after_success:
  - bash <(curl -s https://codecov.io/bash)
